.DataEntriesView{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    height: auto;
    width: 100%;
    overflow-y: auto;
    position: relative;
    padding-bottom: 50px;
    gap: 2px;
}
.Datafilter{
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    padding: 10px;
    z-index: 2;
}
.Datacardcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

