.Navbar{
    height: 80px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 9999;
}